are_elements_int
AT_A_from_particle_no
AT_A_from_particle_no_single
AT_alpha_g_cm2_MeV_from_material_no
AT_atomic_weight_from_particle_no
AT_average_A
AT_average_A_from_material_no
AT_average_Z
AT_average_Z_from_material_no
AT_beta_from_E
AT_beta_from_E_single
AT_Bethe_Mass_Stopping_Power_MeV_cm2_g
AT_Bethe_Mass_Stopping_Power_MeV_cm2_g_single
AT_Bethe_Stopping_Number_single
AT_Bohr_Energy_Straggling_g_cm2
AT_check_energy_range_single_field
AT_check_energy_range_single_particle
AT_check_material
AT_check_particle_no_single_field
AT_check_particle_no_single_particle
AT_convert_beam_parameters
AT_CSDA_range_g_cm2
AT_CSDA_range_m
AT_D_RDD_Gy
AT_D_RDD_Gy_int
AT_density_g_cm3_from_material_no
AT_dose_Gy_from_fluence_cm2
AT_dose_Gy_from_fluence_cm2_single
AT_dose_weighted_E_MeV_u
AT_dose_weighted_LET_MeV_cm2_g
AT_Dyx
AT_E_from_beta
AT_E_from_beta_single
AT_E_MeV_from_CDSA_range
AT_E_MeV_from_LET
AT_E_MeV_u_from_momentum
AT_E_MeV_u_from_momentum_single
AT_effective_charge_from_beta
AT_effective_charge_from_beta_single
AT_effective_charge_from_E_MeV_u
AT_effective_charge_from_E_MeV_u_single
AT_electron_density_m3
AT_electron_density_m3_from_material_no
AT_ER_ButtsKatz_range_g_cm2
AT_ER_Edmund_range_g_cm2
AT_ER_Geiss_range_g_cm2
AT_ER_PowerLaw_alpha
AT_ER_Scholz_range_g_cm2
AT_ER_Tabata_constants
AT_ER_Tabata_range_g_cm2
AT_ER_Waligorski_range_g_cm2
AT_establish_material
AT_fluence_cm2
AT_fluence_cm2_from_dose_Gy_single
AT_fluence_weighted_E_MeV_u
AT_fluence_weighted_LET_MeV_cm2_g
AT_fluence_weighted_stopping_power_ratio
AT_free_material
AT_gamma_from_E
AT_gamma_from_E_single
AT_Gamma_index_from_material_number
AT_Gamma_name_from_number
AT_Gamma_number_of_parameters
AT_gamma_response
AT_get_error_msg
AT_get_gamma_response
AT_get_gamma_response_for_average_dose
AT_get_ion_efficiency_from_dose_distribution
AT_get_ion_efficiency_from_response_distribution
AT_get_ion_response_from_dose_distribution
AT_get_ion_response_from_response_distribution
AT_get_material_data
AT_get_materials_data
AT_get_response_distribution_from_dose_distribution
AT_GSM_calculate_dose_histogram
AT_GSM_calculate_dose_pattern
AT_GSM_calculate_histogram_from_grid
AT_GSM_calculate_local_response_grid
AT_GSM_calculate_multiple_dose_histograms
AT_GSM_shoot_particles_on_grid
AT_histo_add
AT_histo_add
AT_histo_add
AT_histo_bin_no
AT_histo_bin_width
AT_histo_bin_widths
AT_histo_left_limit
AT_histo_left_limits
AT_histo_linear_bin_no
AT_histo_linear_bin_width
AT_histo_linear_left_limit
AT_histo_linear_midpoint
AT_histo_linear_n_bins
AT_histo_linear_step
AT_histo_logarithmic_bin_no
AT_histo_logarithmic_bin_width
AT_histo_logarithmic_left_limit
AT_histo_logarithmic_midpoint
AT_histo_logarithmic_n_bins
AT_histo_logarithmic_step
AT_histo_midpoint
AT_histo_midpoints
AT_histo_n_bins
AT_histo_step
AT_histoOld_bin_no
AT_histoOld_get_bin_width
AT_histoOld_get_bin_widths
AT_histoOld_log_bin_width
AT_histoOld_lower_bin_limit
AT_histoOld_upper_bin_limit
AT_I_eV_from_material_no
AT_interparticleDistance_m
AT_inv_interparticleDistance_Gy
AT_inverse_RDD_Cucinotta_m
AT_inverse_RDD_Cucinotta_solver_function_Gy
AT_inverse_RDD_ExtendedTarget_CucinottaPoint_m
AT_inverse_RDD_ExtendedTarget_CucinottaPoint_solver_function_Gy
AT_inverse_RDD_ExtendedTarget_KatzPoint_m
AT_inverse_RDD_ExtendedTarget_KatzPoint_solver_function_Gy
AT_inverse_RDD_Geiss_m
AT_inverse_RDD_KatzPoint_LinearER_m
AT_inverse_RDD_KatzPoint_m
AT_inverse_RDD_KatzPoint_PowerLawER_solver_function_Gy
AT_inverse_RDD_KatzSite_m
AT_inverse_RDD_Test_m
AT_KatzModel_CucinottaExtTarget_inactivation_cross_section_integrand_m
AT_KatzModel_CucinottaExtTarget_inactivation_cross_section_m2
AT_KatzModel_CucinottaExtTarget_inactivation_probability
AT_KatzModel_inactivation_cross_section_m2
AT_KatzModel_inactivation_probability
AT_KatzModel_KatzExtTarget_inactivation_cross_section_integrand_m
AT_KatzModel_KatzExtTarget_inactivation_cross_section_m2
AT_KatzModel_KatzExtTarget_inactivation_probability
AT_KatzModel_single_field_survival
AT_Kellerer_folding
AT_Kellerer_interpolation
AT_Kellerer_normalize
AT_Kellerer_reset
AT_Kellerer_shrink
AT_Kellerer_zero
AT_LET_keV_um
AT_LET_MeV_cm2_g
AT_LET_MeV_cm2_g_single
AT_low_fluence_local_dose_distribution
AT_m_g_cm2_from_material_no
AT_material_index_from_material_number
AT_material_name_from_number
AT_material_number_from_name
AT_max_classic_E_transfer_MeV_single
AT_max_E_transfer_MeV
AT_max_E_transfer_MeV_single
AT_max_electron_range_m
AT_max_electron_ranges_m
AT_max_relativistic_E_transfer_MeV_single
AT_momentum_from_E_MeV_c_u
AT_momentum_from_E_MeV_c_u_single
AT_n_bins_for_low_fluence_local_dose_distribution
AT_n_bins_for_singe_impact_local_dose_distrib
AT_N2_to_step
AT_N2_to_step
AT_new_LET_MeV_cm2_g
AT_new_LET_MeV_cm2_g
AT_new_LET_MeV_cm2_g
AT_new_LET_MeV_cm2_g
AT_new_LET_MeV_cm2_g
AT_new_LET_MeV_cm2_g
AT_normalize
AT_p_MeV_from_material_no
AT_P_RDD
AT_particle_name_from_particle_no
AT_particle_name_from_particle_no_single
AT_particle_no_from_particle_name
AT_particle_no_from_particle_name_single
AT_particle_no_from_Z_and_A
AT_particle_no_from_Z_and_A_single
AT_r_RDD_m  
AT_range_straggling_convolution
AT_RDD_a0_m
AT_RDD_Cucinotta_Cnorm
AT_RDD_Cucinotta_Ddelta_average_Gy
AT_RDD_Cucinotta_Ddelta_average_integrand_m
AT_RDD_Cucinotta_Ddelta_Gy
AT_RDD_Cucinotta_Dexc_average_Gy
AT_RDD_Cucinotta_Dexc_Gy
AT_RDD_Cucinotta_f_longRange
AT_RDD_Cucinotta_f_shortRange
AT_RDD_CucinottaPoint_Gy
AT_RDD_d_max_Gy
AT_RDD_d_min_Gy
AT_RDD_ExtendedTarget_CucinottaPoint_Gy
AT_RDD_ExtendedTarget_CucinottaPoint_Gy_by_integration
AT_RDD_ExtendedTarget_CucinottaPoint_integrand_Gy
AT_RDD_ExtendedTarget_KatzPoint_Gy
AT_RDD_ExtendedTarget_KatzPoint_Gy_by_integration
AT_RDD_ExtendedTarget_KatzPoint_integrand_Gy
AT_RDD_f1_parameters_mixed_field
AT_RDD_f1_parameters_single_field
AT_RDD_Geiss_average_Gy
AT_RDD_Geiss_Gy
AT_RDD_index_from_RDD_number
AT_RDD_Katz_coeff_Gy
AT_RDD_Katz_coeff_Gy_general
AT_RDD_Katz_LinearER_Daverage_Gy
AT_RDD_Katz_LinearER_dEdx_J_m
AT_RDD_Katz_LinearER_Dpoint_Gy
AT_RDD_Katz_LinearER_DSite_Gy
AT_RDD_Katz_PowerLawER_Daverage_Gy
AT_RDD_Katz_PowerLawER_DaverageKernel
AT_RDD_Katz_PowerLawER_DaverageKernel_approx
AT_RDD_Katz_PowerLawER_dEdx_J_m
AT_RDD_Katz_PowerLawER_Dpoint_Gy
AT_RDD_Katz_PowerLawER_DSite_Gy
AT_RDD_KatzPoint_Gy
AT_RDD_KatzSite_Gy
AT_RDD_name_from_number
AT_RDD_number_from_name
AT_RDD_number_of_parameters
AT_RDD_precalculated_constant_Gy
AT_RDD_r_min_m
AT_RDD_Test_Gy
AT_run_GSM_method
AT_run_IGK_method
AT_run_SPIFF_method
AT_run_SPISS_method
AT_sI_int
AT_single_impact_dose_Gy_single
AT_single_impact_dose_Gy_single
AT_single_impact_fluence_cm2
AT_single_impact_fluence_cm2_single
AT_single_impact_local_dose_distrib
AT_SuccessiveConvolutions
AT_sum
AT_total_D_Gy
AT_total_fluence_cm2
AT_total_u
AT_Z_from_particle_no
AT_Z_from_particle_no_single
d_sign
dvla_
dvsa_
find_elements_char
find_elements_int
gamma_
gammln
geometryFunctionPhi
get_table_value
getERName
interp
is_element_char
is_element_int
locate
nrerror
pbdv_
polint
vvla_
zriddr
