_build/
cmake-build-debug/
libat.*
.idea/*
*.xml
/distributions/JavaScript/output/
*.o 
*.lo
*.la 
*Makefile
*Makefile.in
INSTALL
README
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
example/basic_plots/.deps/
example/basic_plots/.libs/
example/basic_plots/amtrack_plot
example/demo/.deps/
example/demo/.libs/
example/demo/amtrack_demo
example/demo/data.txt
example/demo/data1.txt
install-sh
libtool
ltmain.sh
m4/
missing
src/.deps/
src/.libs/
stamp-h1
test/C/.deps/
test/C/.libs/
test/C/amtrack_test
thirdparty/cernlib/.deps/
thirdparty/cernlib/.libs/
