_build/
cmake-build-debug/
libat.*
.idea/*
*.xml
/distributions/JavaScript/output/

#object files
*.o 

#libraries
*.lo
*.la 

*.deps/
*.libs/

*Makefile
*Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
example/demo/amtrack_demo
install-sh
libtool
ltmain.sh
m4/
missing
stamp-h1
test/C/amtrack_test

#automatically created backup copies of files
*~

# Python
venv/
