<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<config path="/path/to/folder"> <!-- please specify the path where the wrapper folder is located -->
	<template name="particle energy vs beta" file="AT_E_from_beta.xml"/>
	<template name="beta vs particle energy" file="AT_beta_from_E.xml"/>
	<template name="LET vs particle energy" file="AT_LET_from_E.xml"/>
	<template name="fluence vs dose" file="AT_fluence_from_dose.xml"/>
</config>
