AT_D_Gy
AT_D_RDD_Gy
AT_RDD_f1_parameters_mixed_field
AT_fluence_cm2
AT_gamma_response
AT_KatzModel_inactivation_probability
AT_KatzModel_inactivation_cross_section_m2
AT_LET_MeV_cm2_g
AT_LET_keV_um
AT_max_E_transfer_MeV
AT_max_electron_ranges_m
AT_particle_name_from_particle_noconst
AT_particle_no_from_particle_nameconst
AT_material_name_from_number
AT_material_number_from_name
AT_run_GSM_method
AT_run_IGK_method
AT_run_SPIFF_method
AT_SC_get_f1_array_size
AT_SC_get_f1
AT_SC_get_f_array_size
AT_SC_get_f_start
AT_SC_get_gamma_response
AT_SuccessiveConvolutions
AT_total_D_Gy
AT_total_fluence_cm2
AT_fluence_weighted_E_MeV_u
AT_dose_weighted_E_MeV_u
AT_fluence_weighted_LET_MeV_cm2_g
AT_dose_weighted_LET_MeV_cm2_g
AT_get_materials_data
AT_CSDA_range_g_cm2
AT_A_from_particle_no
AT_Z_from_particle_no
AT_total_u
AT_convert_beam_parameters
AT_GSM_calculate_dose_histogram
AT_GSM_calculate_multiple_dose_histograms__problem_with_coment
AT_fluence_weighted_stopping_power_ratio
AT_Bethe_Mass_Stopping_Power_MeV_cm2_g
