AT_run_CPPSC_method
AT_run_IGK_method
AT_run_GSM_method
AT_D_RDD_Gy
AT_max_electron_ranges_m
AT_LET_keV_um
AT_dose_Gy_from_fluence_cm2
AT_fluence_cm2_from_dose_Gy
AT_total_D_Gy
AT_total_fluence_cm2
AT_momentum_MeV_c_u_from_E_MeV_u
AT_E_MeV_u_from_momentum_MeV_c_u
AT_max_E_transfer_MeV
AT_beta_from_E
AT_E_from_beta
AT_gamma_from_E
