AT_run_CPPSC_method
AT_run_IGK_method
AT_run_GSM_method
AT_D_RDD_Gy
AT_max_electron_range_m
AT_max_electron_ranges_m
AT_LET_keV_um
AT_LET_MeV_cm2_g
AT_stopping_power_ratio
AT_CSDA_range_g_cm2
AT_CSDA_range_m
AT_E_MeV_from_CDSA_range
AT_E_MeV_from_LET
AT_Bethe_Mass_Stopping_Power_MeV_cm2_g
AT_fluence_weighted_E_MeV_u
AT_dose_weighted_E_MeV_u
AT_fluence_weighted_LET_MeV_cm2_g
AT_dose_weighted_LET_MeV_cm2_g
AT_dose_Gy_from_fluence_cm2
AT_fluence_cm2_from_dose_Gy
AT_total_D_Gy
AT_total_fluence_cm2
AT_beam_par_technical_to_physical
AT_beam_par_physical_to_technical
AT_momentum_MeV_c_u_from_E_MeV_u
AT_E_MeV_u_from_momentum_MeV_c_u
AT_effective_charge_from_E_MeV_u
AT_max_E_transfer_MeV
AT_mean_number_of_tracks_contrib
AT_beta_from_E
AT_E_from_beta
AT_gamma_from_E
AT_get_material_data
AT_KatzModel_inactivation_probability
