AT_run_CPPSC_method
AT_run_IGK_method
AT_run_GSM_method
AT_D_RDD_Gy
AT_r_RDD_m
AT_max_electron_ranges_m
AT_Stopping_Power_keV_um_multi
AT_Stopping_Power_MeV_cm2_g_multi
AT_Stopping_Power_Mass_Bethe_MeV_cm2_g_multi
AT_stopping_power_ratio
AT_CSDA_range_g_cm2
AT_CSDA_range_m
AT_fluence_weighted_E_MeV_u
AT_dose_weighted_E_MeV_u
AT_fluence_weighted_LET_MeV_cm2_g
AT_dose_weighted_LET_MeV_cm2_g
AT_dose_Gy_from_fluence_cm2
AT_fluence_cm2_from_dose_Gy
AT_total_D_Gy
AT_total_fluence_cm2
AT_beam_par_technical_to_physical
AT_beam_par_physical_to_technical
AT_momentum_MeV_c_u_from_E_MeV_u
AT_E_MeV_u_from_momentum_MeV_c_u
AT_effective_charge_from_E_MeV_u
AT_max_E_transfer_MeV
AT_mean_number_of_tracks_contrib
AT_beta_from_E
AT_E_from_beta
AT_gamma_from_E
AT_get_materials_data
AT_electron_density_m3_from_material_no_multi
AT_particle_no_from_Z_and_A
AT_A_from_particle_no
AT_Z_from_particle_no
AT_CSDA_range_Bethe_g_cm2_multi
AT_CSDA_energy_after_slab_E_MeV_u_multi
AT_WEPL_Bethe_multi
AT_electron_density_m3_multi
AT_set_user_material
AT_set_user_material_from_composition
AT_electron_density_m3_from_composition
AT_average_A_from_composition
AT_average_Z_from_composition
AT_effective_Z_from_composition
AT_I_eV_from_composition
AT_nuclear_spin_from_particle_no_multi
AT_Rutherford_SDCS
AT_energy_straggling_MeV2_cm2_g
AT_energy_straggling_after_slab_E_MeV_u
AT_atomic_weight_from_Z
AT_Z_from_element_acronym
AT_atomic_weight_from_element_acronym
AT_density_g_cm3_from_element_acronym
AT_I_eV_from_element_acronym
AT_element_acronym_from_Z
AT_characteristic_single_scattering_angle
AT_screening_angle
AT_effective_collision_number
AT_reduced_target_thickness
AT_characteristic_multiple_scattering_angle
AT_Moliere_function_f0
AT_Moliere_function_f1
AT_Moliere_function_f2
AT_scattering_angle_distribution
AT_Highland_angle
noR: AT_SPC_read_data_from_filename_fast
noR: AT_SPC_read_header_from_filename_fast
noR: AT_SPC_get_number_of_bins_from_filename_fast
